<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ラミィちゃん一周年記念プロジェクト Yukihana Lamy 1st Anniversary Celebration Project</title>
    <meta name="description" content="ラミィちゃん一周年おめでとう！！！！！">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="ラミィちゃん一周年記念プロジェクト Yukihana Lamy 1st Anniversary Celebration Project" />
    <meta property="og:description" content="ラミィちゃん一周年おめでとう！！！！！" />
    <meta property="og:image" content="https://nepolabo.fans/lamy/android-chrome-512x512.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://nepolabo.fans/lamy">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="ラミィちゃん一周年記念プロジェクト Yukihana Lamy 1st Anniversary Celebration Project">
    <meta name="twitter:image" content="https://nepolabo.fans/lamy/android-chrome-512x512.png">

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Serif+JP&display=swap"
        rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css"
        integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.7.0/simple-lightbox.min.css"
        integrity="sha512-FHwwMXxhAWjVhJyEgmmPg/aJ3BRmsOavHBV6yMK55Mz0rycBZcRmSowqij+ncd/JPtOzmUMZx7ZIRnGyqIE/1A=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="dist/index.css">

<body>
    <div id="ie11-cover"><p>Please use a different web browser to see this site.</p><p>このサイトを見るために他のウェブブラウザーを使ってください。</p></div>
    <div id="nojs-cover"><p>Please turn on Javascript to fully access this site's features.</p><p>このサイトの全ての機能を利用するためにはJavaScriptを有効にする必要があります。</p></div>
    <div id="white-full"></div>
    <div id="volume-container">
        <div id="volume-icon">
            <img height="24px" width="24px" src="dist/img/volume.png"/>
            <img id="mute" height="24px" width="24px" src="dist/img/volumemute.png"/>
        </div>
        <input type="range" min="1" max="100" value="50" class="slider" id="musicbox-volume">
    </div>
    <a href="../"><button class="back-btn">Back</button></a>
    <!-- music box -->
    <div id="init-page">
        <canvas id="confetti"></canvas>
        <div id="box-container">
            <div class="wrapper">
                <div id="lid">
                 <div class="front"></div>
                 <div class="back"></div>
                 <div class="top"></div>
                 <div class="top-inside"></div>
                 <div class="bottom"></div>
                 <div class="left"></div>
                 <div class="right"></div>
                </div>
                <div id="box">
                 <div class="front"></div>
                 <div class="back"></div>
                 <div class="top"></div>
                 <div class="arm no-boxshad"></div>
                 <div class="gear-container no-boxshad">
                     <div class="gear"></div>
                 </div>
                 <div class="disk no-boxshad"></div>
                 <div class="bottom"></div>
                 <div class="left"></div>
                 <div class="right"></div>
                 <div class="table-surface"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <!-- background of welcome page -->
        <div id="bg-container">
            <canvas id="confettiRain"></canvas>
            <div class="sky">
                <div id="daifuku-constell"></div>
                <div id="moon"></div>
                <div class="star star1"></div>
                <div class="star star2"></div>
                <div class="star star3"></div>
                <div class="star star4"></div>
                <div class="star star5"></div>
                <div class="star star6"></div>
            </div>
            <div id="bg">
            </div>
        </div>
        <section id="welcome-msg">
            <p lang="ja" data-aos="fade-down">ラミィちゃん、一周年おめでとうございます。</p>
            <p lang="ja" data-aos="fade-down">ささやかな贈り物ですが、お受け取りください。</p>
            <p lang="ja" data-aos="fade-down">雪民一同より。</p>
            <!-- Three arrows (one per span, made with 45deg rotated box with partial border) that animate via CSS -->
            <div id="scroll-arrow-hint">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </section>

        <section id="cover-video">
            <div class="sect-title" data-aos="fade-up">
                <h1>Cover MV</h1>
                <div class="sect-title-deco"></div>
            </div>
            <div id="cover-video-container" data-aos="fade-up">
                <div class="video-container">
                    <div id="ytplayer" title="ラミィちゃんお誕生日おめでとう！ビデオ"></div>
                </div>
            </div>
        </section>

        <section id="letter-msgs">
            <div class="sect-title" data-aos="fade-up">
                <h1>Messages</h1>
                <h3 lang="ja">手紙</h3>
                <a id="artbook-shortcut" href="#artbook" onclick="reclick(this)">
                    <p>&#10140; To Artbook / 画集へ</p>
                </a>
                <div class="sect-title-deco"></div>
            </div>
            <div class="card-columns">
                {{#each messages}}
                <div class="letter-msg-card-container" data-aos="fade-up">
                    <div class="letter-msg-card card">
                        <div class="sender-details">
                            <div class="sender-name-container">
                                <span class="sender-name">{{username}}</span>
                                {{#with twitter}}
                                <span class="twitter-name text-muted">@{{this}}</span>
                                {{/with}}
                            </div>
                                <div class="stamp-outer">
                                {{#if country_code}}
                                    <div class="stamp-inner" data-code="{{country_code}}">
                                        <span class="flag-icon flag-icon-{{country_code}}" title="{{country_name}}"
                                            alt="{{country_name}}"></span>
                                        <span class="stamp-amt">
                                            {{#if (eq country_code "ca")}}&#127809;
                                            {{else}}{{country_postage}}
                                            {{/if}}
                                        </span>
                                        <div class="stamp-deco"></div>
                                        <div class="country-name">{{country_name_stamp}}</div>
                                    </div>
                                {{else}}
                                    <div class="stamp-inner">
                                        <span class="stamp-amt">
                                            100
                                        </span>
                                        <div class="stamp-deco"></div>
                                        <div class="country-name">2021</div>
                                    </div>
                                {{/if}}
                                </div>
                        </div>
                        <div class="letter-msg">
                        {{#if message}}
                            <blockquote class="blockquote mb-0" {{#if isMsgInJP}}lang="ja" {{/if}}>
                                <!-- htmlmin:ignore -->
                                <p>{{message}}</p>
                                <!-- htmlmin:ignore -->
                            </blockquote>
                            {{#if message_jp}}
                            <hr>
                            <blockquote class="blockquote mb-0" lang="ja">
                                <!-- htmlmin:ignore -->
                                <p>{{message_jp}}</p>
                                <!-- htmlmin:ignore -->
                            </blockquote>
                            {{/if}}
                        {{/if}}
                            {{#if artwork_url}}
                            <hr>
                            <div class="msg-art">
                                <a href="#to-{{artwork_url}}">
                                    <img srcset="{{artwork_url}} 150w" sizes="150px" src="{{artwork_url}}" alt="" title="" />
                                </a>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>

        <section id="artbook">
            <div class="sect-title" data-aos="fade-up">
                <h1>Artbook</h1>
                <h5>(Click to enlarge)</h5>
                <h3 lang="ja">画集</h3>
                <h5>（写真をクリックすると拡大できます）</h5>
                <div class="sect-title-deco"></div>
                <a id="msgs-shortcut" href="#letter-msgs" onclick="reclick(this)">
                    <p>&#10140; To Messages / 手紙へ</p>
                </a>
            </div>
            <div id="artbook-gallery">
                {{#each artbook_data}}
                <a id="to-{{thumbnail_small}}" href="{{fullpage}}" data-aos="fade-up">
                    <img class="artbook-page" srcset="{{thumbnail_small}} 150w, {{thumbnail}} 500w" sizes="(max-width: 700px) 150px, 500px" src="{{thumbnail}}" alt="" title="" />
                </a>
                {{/each}}
            </div>
        </section>

        <div class="placeholder">

        </div>

        <footer id="credits" data-lang="jp">
            <div class="credits-column">
                <div class="lang-btns credits-section">
                    <button class="lang-btn" id="credits-jp">
                        JP
                    </button>
                    <button class="lang-btn" id="credits-en">
                        EN
                    </button>
                </div>
            </div>
            <div class="credits-column">
                <div class="credits-section">
                    <h4 class="cred-en">Project Organizer</h4>
                    <h4 class="cred-jp">企画担当</h4>
                    <p>Corneus/コロネウス</p>
                    <p>nonJerry</p>
                </div>
                <div class="credits-section">
                    <h4 class="cred-en">Translator</h4>
                    <h4 class="cred-jp">翻訳</h4>
                    <p>mugichos</p>
                    <p>Theldeon</p>
                    <p>GrandWind</p>
                    <p>kurapan</p>
                    <p>Jared Hays</p>
                    <p>vtange</p>
                </div>
            </div>
            <div class="credits-column">
                <div class="credits-section">
                    <h4 class="cred-en">Art featured on artbook by</h4>
                    <h4 class="cred-jp">画集のイラスト</h4>
                    <p>Forever9Nine</p>
                    <p>TrollLogic</p>
                    <p>KRX</p>
                    <p>Momo Berry</p>
                    <p>Signal226</p>
                    <p>Raze雪花</p>
                    <p>雪月</p>
                    <p>三世吾郎</p>
                </div>
                <div class="credits-section">
                    <h4 class="cred-en">Daifuku Constellation & Chibi Art</h4>
                    <h4 class="cred-jp">だいふく星座とちびイラスト</h4>
                    <p>Forever9Nine</p>
                </div>
                <div class="credits-section">
                    <h4 class="cred-en">Video Editor</h4>
                    <h4 class="cred-jp">動画編集</h4>
                    <p>Gessekai Goldener Adler</p>
                </div>
            </div>
            <div class="credits-column">
                <div class="credits-section">
                    <h4 class="cred-en">BLUE CLAPPER (music box ver.)</h4>
                    <h4 class="cred-jp">BLUE CLAPPER (オルゴール　ver.)</h4>
                    <p>wAA_</p>
                </div>
                <div class="credits-section">
                    <h4 class="cred-en">Cover Song: Mixer</h4>
                    <h4 class="cred-jp">カバーソング：ミキシング</h4>
                    <p>wAA_</p>
                </div>
                <div class="credits-section">
                    <h4 class="cred-en">Cover Song: Singer</h4>
                    <h4 class="cred-jp">カバーソング：歌</h4>
                    <p>kalmen</p>
                    <p>Restia</p>
                    <p>Gessekai Goldener Adler</p>
                    <p>T1</p>
                    <p>Nyara</p>
                    <p>Cherry Blossoms/Krye</p>
                    <p>itsyoboibrent</p>
                    <p>Momo Berry</p>
                    <p>Corneus/コロネウス</p>
                    <p>Simphogear</p>
                    <p>X-Kill/Mau</p>
                    <p>nonJerry</p>
                    <p>dechap</p>
                    <p>velleity2</p>
                    <p>wAA_</p>
                </div>
            </div>
            <div class="credits-column">
                <div class="credits-section">
                    <h4 class="cred-en">Website</h4>
                    <h4 class="cred-jp">ウェブサイト</h4>
                    <p>vtange</p>
                </div>
                <div class="credits-section">
                    <h4 class="cred-en">Other Resources</h4>
                    <h4 class="cred-jp">他の素材</h4>
                    <p><a href="https://www.pixiv.net/artworks/76576143" target="_blank" rel="noopener noreferrer">
                            Sakura pattern by くろま /
                            Pixiv</a></p>
                    <p><a href="https://www.pixiv.net/artworks/23667144" target="_blank" rel="noopener noreferrer">
                            フリー素材37</a>,&nbsp;
                            <a href="https://www.pixiv.net/artworks/26695707" target="_blank" rel="noopener noreferrer">
                            42</a>,&nbsp;
                            <a href="https://www.pixiv.net/artworks/32846397" target="_blank" rel="noopener noreferrer">
                            48</a>&nbsp;by&nbsp;あぐりりんこ&nbsp;/&nbsp;
                            Pixiv</p>
                    <p><a href="https://www.myfreetextures.com/red-seamless-wood-texture/ " target="_blank" rel="noopener noreferrer">
                            Wood texture by MyFreeTextures</a></p>
                    <p><a href="https://pngimg.com/imgs/objects/vinyl/" target="_blank" rel="noopener noreferrer">
                            Vinyl textures by PngImgCom</a></p>
                </div>
                <div class="credits-section">
                    <h4 class="cred-en">Special Thanks</h4>
                    <h4 class="cred-jp">スペシャルサンクス</h4>
                    <p class="cred-en">To everyone who supports this project</p>
                    <p class="cred-jp">当企画を応援している皆様</p>
                    <p>&nbsp;</p>
                    <p class="cred-en">This is strictly a fan site. We are not related to Cover Corp. nor Hololive in any way.</p>
                    <p class="cred-jp">当ウェブサイトはホロライブのファンによって運営されている非公式ファンサイトです。<br>カバー株式会社およびホロライブプロダクションとは一切関係ありません。</p>
                    <img class="daisuki" src="./dist/img/daisuki.png" width="400px" height="200px"/>
                </div>
            </div>
        </footer>

    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" type="application/javascript"></script>
    {{!-- <script src="https://cdn.jsdelivr.net/gh/greghub/green-audio-player/dist/js/green-audio-player.min.js"></script> --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.7.0/simple-lightbox.min.js"
        integrity="sha512-ZajFBgnksNp8Rj+AbmYe8ueOu45HiSjtf3QpqnRbHlq719m6VK0FkbYIqQ8wEnlVuJ1i9pC+z6Z9ewmDnUTMCg=="
        crossorigin="anonymous" type="application/javascript"></script>
    <script src="dist/confetti.js" type="application/javascript"></script>
    <script src="dist/index.min.js" type="application/javascript"></script>
    <script src="dist/index.js" type="application/javascript"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
</body>

</html>